<p>
  First Name<br/>
  <%= @person.first_name %>
</p>

<p>
  Last Name<br/>
  <%= @person.last_name %>
</p>
 
<p>
  Phone Number<br/>
  <%= @person.phone_number %>
</p>

<p>
  Email Address<br/>
  <%= @person.email %>
</p>

<p>
  Date of Birth<br/>
  <%= @person.birth_date %>
</p>

<p>
  LinkedIn<br/>
  <%= @person.linkedin_url %>
</p>
