<% provide(:title, @person.name) %>
<h1> <%= @person.name %> </h1>
<h2> Personal Information </h2>

<dl class="dl-horizontal">
    <dt>Fist Name</dt>
  <dd><%= @person.first_name %></dd>

    <dt>Last Name</dt>
  <dd><%= @person.last_name %></dd>

    <dt>Phone Number</dt>
  <dd><%= @person.phone_number %></dd>

    <dt>Email Address</dt>
  <dd><%= @person.email %></dd>

    <dt>Date of Birth</dt>
  <dd><%= @person.birth_date %></dd>

  <dt>LinkedIn</dt>
    <dd><%= @person.linkedin_url %></dd>
  <dt>Belongs to teams: </dt>
    <dd>
      <ul class="list-unstyled">
        <% @person.teams.each do |team| %>
        <li> <%= link_to team.name, user_team_path(@user, team) %> </li>
        <% end %>
      </ul>
    </dd>
</dl>
<ul class="list-inline">
  <li><%= link_to 'Back to List', user_people_path(@user) %></li>
  <li><%= link_to 'Edit Fields',  edit_user_person_path(@user,@person) %></li>
  <li><%= link_to 'Change Teams', change_teams_user_person_path(@user,@person) %></li>
  <li><%= link_to 'Delete', user_person_path(@user,@person), method: :delete, data: { confirm: 'Are you sure?' } %></li>
</ul>
