<div class="center hero-unit">
  <%= image_tag "logo.png" %>
  <h1>Welcome to Human Resources</h1>

  <h2 class="center">
    <% if user_signed_in? %>
      To start managing your teams click on the top-left links
    <% elsif admin_signed_in? %>
      Administration
    <% else %>
      To start using this application please <%= link_to 'Log in', new_user_session_path %> or <%= link_to 'Sign up', new_user_registration_path %>.
    <% end %>
  </h2>
</div>

<% if admin_signed_in? %>
  <%= render 'user_listing' %>
<% elsif user_signed_in? %>
  <%= render 'team_listing' %>
<% end %>
